@tailwind base;
@tailwind components;
@tailwind utilities;

.around {
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  justify-items: space-around;
}

.minmax {
  transition: flex-grow 0.5s;
}

.minmax-button {
  transition: left 0.4s;
}

[contenteditable=true]:empty:before {
  content: attr(aria-placeholder);
  display: block;
  color: #94a3b8;
}