@tailwind base;
@tailwind components;
@tailwind utilities;

.around {
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  justify-items: space-around;
}

.minmax {
  transition: flex-grow 0.5s;
}